@import "@blueprintjs/core/lib/scss/variables";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.editor-selection {
  display: flex;
  flex-direction: row;
}

.editor-selector-button {
  padding: 1em 1em 1em 1em;
}

.display-area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: $pt-app-background-color;

  .#{$ns}-dark & {
    background-color: $pt-dark-app-background-color;
  }
}

.get-started-callout {
  max-width: 250px;
  padding: 15px;
  p {
    margin-bottom: 0;
  }
}
