@import "@blueprintjs/core/lib/scss/variables";

.scalar-items-editor {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.scalar-items-editor-title {
  margin: 10px 0px 10px 5px;
  opacity: 0.8;
}

.add-scalar-item-section {
  border-radius: 15px;
  border: 1px solid $pt-divider-black;
  margin: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.bp4-dark .add-scalar-item-section {
  border: 1px solid $pt-dark-divider-white
}
