@import "@blueprintjs/core/lib/scss/variables";

pre {
  margin: 0px;
}

.scalar-item-editor {
  border-radius: 15px;
  background-color: $sepia5;
  padding: 10px 10px 10px 15px;
  margin: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
}

.scalar-item-collapse-body {
  display: flex;
  flex-direction: column;
}

.bp4-dark .scalar-item-editor {
  background-color: $sepia1;
}

.scalar-item-title-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.scalar-item-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
