.TopNavBar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.TopNavBar ul {
  margin: 10px 0px;
  font-size: 20px;
}

.TopNavBar li {
  display: inline;
  margin: 0px 15px;
};
